@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
  font-family: 'Roboto Mono', sans-serif;
  line-height: 1.5;
  color: #2d354c;
}

button,
input {
  font: inherit;
  color: inherit;
}

th,
td,
button,
input {
  padding: 0.75em 1em;
}

table#cart {
  width: 100%;
  border-collapse: collapse;
}

table#cart tfoot {
  background: rgb(128, 171, 132);
}

table#cart td,
table input {
  border: 1px solid #dadada;
}

table input[type='number'] {
  max-width: 4em;
}

.btn {
  display: inline-block;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid rgb(63, 63, 63);
}

.btn-success,
.btn-remove {
  color: #fff;
}

.create-product button{
  background-color: rgb(145, 243, 153);
  font-weight: bold;
}

.btn-success {
  background-color: #85ccf0;
  color: #3c5b69;
}

.btn-remove {
  background-color: #f27471;
}

h1,
h2,
.calculate-total {
  text-align: center;
}

.action {
  display: flex;
  justify-content: center;
}

.action-create{
  display: flex;
  justify-content: center;
}