@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
  font-family: 'Roboto Mono', sans-serif;
  line-height: 1.5;
  color: #2d354c;
}

button,
input {
  font: inherit;
  color: inherit;
}

th,
td,
button,
input {
  padding: 0.75em 1em;
  text-align: center;
}

table#cart {
  width: 100%;
  border-collapse: collapse;
}

table#cart tfoot {
  background: #eee;
}

table#cart td,
table input {
  border: 1px solid #dadada;
}

table input[type='number'] {
  max-width: 4em;
}

.btn {
  display: inline-block;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn-success,
.btn-remove {
  color: #fff;
}

.btn-success {
  background-color: #2cc5fa;
}

.btn-success:hover {
  background-color: #1b82a4;
}

.btn-remove {
  background-color: #f27471;
}

.btn-remove:hover {
  background-color: #b94543;
}

.amount {
  cursor: pointer;
}

h1,
h2,
.calculate-total {
  text-align: center;
}
