input {
  border: solid 1px black;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
    padding: 5px;
    border-radius: 10%;
    width: 35px;
    font-size: 10px;
}


.quantity {
  margin: 0 5px;
}

#product {
  height: 25px;
  width: auto;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btest {
  border: 1px solid #000000;
}

#client-input {
  background-color: aqua;
  height: 50px;
  display: flex;
  justify-content: left;
  
}