input {
  border: solid 1px black;
  
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.quantity {
  margin: 0 5px;
}

.product-list {
  margin: 50px 0;
  text-align: center;
}
.product-list > button{
  margin-top:50px;
}
.product-list .product{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}

.title {
  font-size: 36px;
  display: flex;
  flex-direction: column;
  margin-left: 45%;
}
.add{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
.add button{
  margin-left: 35px;
}
.add > div {
  width: 100px;
}
.product > div {
  width: 20%;
  margin-bottom: 20px;
}

.product .qty input {
  width: 180px;
}
#create-item {
  border-radius: 6%;
  border-color: lightgrey;
}

#total-price{
  text-align: center;
}