*{
  box-sizing: border-box;
}

input {
  border: solid 1px black;
  padding-left: 5px;
}

.header{
  text-align: right;
}
.container{
  margin:0 200px;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}
.product {
  margin-right: 10px;
}
.prodTotal{
  margin-right: 30px;
}
.submit{
  display: flex;
  justify-content: center;
  align-items: center;
}
#allTotal{
  margin-right: 30px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.quantity {
  margin: 0 5px;
}
