input {
  border: solid 1px black;
}

.container {

}

.info-container {

}

.item {

}

.row {

}

.col-xs-2 {

}

.col-xs-3 {

}

.col-xs-5 {

}

.col-xs-4 {

}

.col-xs-7 {

}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}


.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
    margin-bottom:10%;

}

.quantity {
  margin: 0 5px;
}

.inline {
  display: inline;
  padding-right: 10px;
}

.headerone  {
  float: right;
  padding-right: 38%;
  margin-bottom: 3%;

}

#buttontwo {
float:right;
margin-top: 40px;
padding-right: 50%;
}
