h1, h2 {
  text-align:center;
      margin: 1.67em 0;
}

input {
  border: solid 1px black;
}

.product-line {
  display:flex;
      justify-content: space-around;
          padding: 0 10%;
              align-items: center;
}

.products{
  display: table;
width: 100%;
padding: 0 0%;
text-align: center;
}

.product-name {
    width: 20%;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.success-button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
    width:10%;
}

.quantity {
  margin: 0 5px;
      width: 30%;
}

.calc-section {
  display:flex;
  justify-content: space-around;
align-items: center;
margin: 6% 0;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
      width: 10%;
}

.newProduct {
    padding: 0.5% 10%;
}

.new-item-info {
      width: 85%;
}
