
h2,h1{
  font-size: 2.6em;
}
html{
  margin: 0;
  padding:0;
}

input {
  border: solid 1px black;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}
.btn-new-product{
  background-color: #efefef;
  border-color: #ccc;
}
.quantity {
  margin: 0 5px;
}

.content{
  width: calc(100% - 5%);
  overflow: hidden;
  padding-left: 5%;
  .title{
    width: 60%;
    float: right;
  }
  .product{
    width: calc(100% - 60px);
    padding: 30px;
    .name, .price, .input-quantity, .total-price{
      width: calc(20% - 6px);
      display: inline-block;
      text-align: left;
    }
    .button-delete{
      width: calc(20% - 5px);
      display: inline-block;
      text-align: left;
    }

  }
  .new-product{
    padding: 10px;
    .input-new-item{
      display: inline-block;
      text-align: left;
      width: 20%;
      .new-product-item{
        margin-left: 10px;
      }
    }
    .button-new-prod{
      width: calc(60% - 9px - 40% - 28px);
      display: inline-block;
      padding-left: calc(40% - 28px);
    }
  }
  .button-calculate{
    text-align: center;
  }

}
.text-final-price{
  text-align: center;
}

.mg-left{
  margin-left: 10px;
}
.pdd-left-btn{
  padding-left: 7px;
}
.clearfix{
  clear: both;
}
