input {
  border: solid 1px black;
}
h1{
float: right;
margin-right: 100px;
}
#carro{
margin: auto;
padding-top: 200px;
}
#carro > div{
  display: inline-block;
  margin-right: 60px;
  margin-left: 60px;
}
.product-name2{
  margin-right: 63px;
}
.btn-delete{
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  color: #fff;
  background-color: #CF000F;
  border-color: #CF000F;
  border: 1px ;
  border-radius: 5px;
  text-align: center;
}

.calc-prices-button{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  padding: 10px;
  border: 1px;
  border-radius: 5px;
  margin: 100px 600px 200px 530px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
h2{
  float: right;
  margin: 100px 600px 200px 230px;
  bottom: 200px;
}

.quantity {
  margin: 0 5px;
}
