body {
  margin: 20px;
}

input {
  border: solid 1px black;
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
}

.product-name {
  width: 150px;
}

.title-text {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;

}

h1 {
  width: 250px;
}

.new-element {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}



.new-element-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.grand-total {
  display: flex;
  justify-content: center;
}

#calc-prices-button {
  margin-top: 50px;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.calc-btn-div {
  display: flex;
  justify-content: center;
}

.create-btn {
  border: 1px solid black;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.quantity {
  margin: 0 5px;
}
