
input {
  border: solid 1px black;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.quantity {
  margin: 0 5px;
}



body
{
  text-align: center;
}
.title
{
  margin: 100px ;
}
.list-items
{
  list-style-type: none;
}
.list-items .item, .list-items .new
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.list-items li div, .list-items li button
{
  margin: 40px 50px;
}
.list-items li div.button
{
  margin: 0;
}
.new .inputs
{
  width: 30%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.name, .unitPrice, .totalPrice, .btn-delete
{
  width: 200px;
}
.amount
{
  width: 100px;
}
