input {
  border: solid 1px black;
}

header {
  font-size: 15px;
  position: relative;
  padding-left: 35%;

}

.product1 {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  align-content: center;
}

.product2 {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  align-content: center;
}

.newProduct {
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  align-content: center;
}

.newLabels {
  display: flex;
  flex-direction: row wrap;
  align-items: baseline;
  padding-top: 2%;
}

.newName2 {
  padding-left: 90px;
}

.newPrice2 {
  padding-left: 150px;
}

.productname, .costunit, .quantity, .input, .totalprice2, .buttond {
  margin: auto;
  padding-top: 2%;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
}

.productname {
  width: 200px;
}

.btnDelete {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btnDelete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.btn {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.create {
padding-left: 54%;
}


.calculateItems {
  flex-direction: row;
  padding-left: 40%;
  padding-top: 5%;
}

/*.QTYS {
  padding-left: 5px;
}*/


/*

.product1 {
  width: 100%;
  float: left;
  clear: none;
}



.product2 {
  width: 100%;
}

.productname {
  display:inline-block;
  padding: 10px 50px;
  margin: 20px;
}

.costunit {
  display: inline-block;
  padding: 10px 50px;
  margin: 20px;
}

.quantity {
  display: inline-block;
  padding: 10px 50px;
margin: 20px;
}

.totalprice2 {
  display: inline-block;
  padding: 10px 50px;
  margin: 20px;
}

.buttond {
  display: inline-block;
  padding: 10px 50px;
  margin: 20px;
}


.btnDelete {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.calcula {
  display: inline-block;
  padding-left: 40%;
  padding-top: 10%;

}

.btnDelete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.newName, .price, .name, {
  display: inline-block;
  padding: 10px 50px;
  margin: 20px;
}

.resultTotal {
  display: inline-block;
  padding-left: 40%;
  padding-top: 20%;
}

.newPrice {
  display: inline-block;
  padding: 10px 50px;
  margin: 20px;
}*/
