input {
  border: solid 1px black;
  margin: 0 5px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    
    
}

.calButtonDiv {
  display: flex;
  justify-content: center;
  margin: 40px 0; 
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}



.container {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}