input {
    border: solid 1px black;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
    margin: 50px auto;
    cursor: pointer;
}

.btn-delete {
    color: #fff;
    background-color: #cf000f;
    border-color: #cf000f;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
}

.quantity {
    margin: 0 5px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 50px auto;
    align-items: center;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    /* margin: 0 auto; */
    align-items: center;
}

.add-product {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

#create-item {
    color: #fff;
    background-color: green;
    border-color: green;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;
}

.currency {
    /* only at desktop */
    margin-right: -50px;
    padding-right: 0;
}

.product-name {
    width: 15%;
}

.currency {
    width: 5%;
}

.unit-cost {
    width: 12%;
}

label {
    width: 5%;
}

.input-qty {
    width: 15%;
}

.total-cost {
    width: 12%;
}
