input {
  border: solid 1px black;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
    margin: 0px 0px 40px 200px;
    width: 20%;
}

.delete {
  float: right;
  width: 20rem;
  margin-right: 35px;
}

#bubble-head {
  width: 1335px;
  margin: 20px auto 10px;
}

#iron-shirt {
  width: 1335px;
  margin: 10px auto 10px;
}

.qty {
  padding: 10px 10px 40px 100px;
  float: left;
}

.quantity {
  margin: 10px 100px 0 0;
  width: 170px;
  float: left;
}

h1, h2 {
  margin: 20px auto;
	width: 10em;
}

.name {
  width: 10rem;
}

.first-span {
  padding: 10px 100px 40px 100px;
  width: 100%;
}

span {
  display: inline-block;
  padding: 10px 0px 40px 0px;
  float: left;
}

.final{
  float: none;
  padding: 0px;
}

#calculate {
  clear: both;
  text-align: center;
  width: 1335px;
}
