/* Se definen asi: $red:#color; */


$btn-success-color: #fff;
$btn-success-background-color: #5cb85c;
$btn-success-border-color: #4cae4c;


$btn-delete-color: #fff;
$btn-delete-background-color: #CF000F;
$btn-delete-border-color: #CF000F;

$input-border-color:black;