$main: #2d354c;
$celeste:#4DD7F3;
$light-blue:#90DFEB;
$chalk:#D8E7E5;
$orange:#F09348;
$intense-orange:#F97500;

.main-color {
      color: $main;
}
.celeste {
      color: $celeste;
}
.light-blue {
      color: $light-blue;
}
.chalk {
      color: $chalk;
}
.orange {
      color: $orange;
}
.intense-orange {
      color: $intense-orange;
}