* {
  box-sizing: border-box;  
}

body {
  font-size: 16px;
  font-family: $font;
}

h1, h2 {
  font-family: $fontTitles;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

input {
  width: 100%;
  border: 1px solid $lightGrey;
  border-radius: 4px;
  padding: 5px 10px;
  + input {
    margin-left: 10px;
  }
}

.container {
  width: 100%;
  max-width: 980px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  @include text-align(center);
}

.text-right {
  @include text-align(right);
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  @include text-align(center);
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid $blue;
  border-radius: 4px;
  color: $white;
  background-color: $blue;
  outline: none;
  .icon {
    margin-right: 10px;
  }
  &.btn-success {
    background-color: $green;
    border-color: $green;
  }
  &.btn-delete {
      background-color: $red;
      border-color: $red;
  }
}