.hero {
    .container-fluid {
        .row {
            height: 300px;
            background: $chalk;
            font-family: 'Roboto Mono', monospace;
            h1 {
                font-size: 1rem;
                color: $celeste;
            }
            p {
                color: $orange;
                font-size: .7rem;
            }
        }
    }
}