*{
    font-size: $font-size;
    font-family: $font-family;
}

body{
    h1{
        text-align:center;
    }
    #item-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        article{
            display:flex;
            width: $article-width;
            justify-content: space-around;
            align-items: center;
            &> *{
                width:20%;
                text-align: center;
            }
            .qty-node{
                input{
                    width: 80%;
                }
                display:flex;
                flex-direction: row;
            }
        }
    }
    #calculate-container{
        position: relative;
        left: 50%;
    }
}