.productos{
    display: flex;
    justify-content: space-around
}

.delete{
    background-color: red;
    border-radius: 5px;
    color: white;
    width: 80px;
}


#claculate{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}