input {
  border: solid 1px black;
}
.title {
  text-align: center;
}
.title h1 {
  float: none;
  margin-top: -132px;
  padding-bottom: 100px;
  color: black;

}
.title img {
  opacity: 1;
}
.item {

  margin-top: 100px;
  margin-bottom: 50px;
}
.tableItems {
  list-style-type: none;
}
.tableItems li {
  float: left;
  padding-right: 12%;
}
.buttonCalculate {
  border-radius: 5px;
  margin-top: 25px;
  padding: 7px;
  background-color: #5bb360;
  color: white;
  border: 0px;
}
.buttonDelete {
  border-radius: 5px;
  /*padding: 7px;*/
  background-color: #cf201b;
  border: 0px;
  color: white;
}
.createTable {
  position: relative;
}
.createTableItems {
  margin-top: 50px;
  list-style-type: none;
}
.createTableItems li {
  float: left;
  padding-right: 6%;
}

.buttonCreate {
  border-radius: 5px;
  margin-top: 0px;
  padding: 7px;
  background-color: #5bb360;
  color: white;
  border: 0px;
}
.totalPrice {

}
.tprice {
  /*padding-left: 80%;*/
  text-align: right;
  padding-right: 5%;
  /*float: right;*/
}
.theAnswer {
  position: realative;
  margin-top: 400px;
}

.container {

}

.info-container {

}

.item {

}

.row {

}

.col-xs-2 {

}

.col-xs-3 {

}

.col-xs-5 {

}

.col-xs-4 {

}

.col-xs-7 {

}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.quantity {
  margin: 0 5px;
}
