$main-color:#eee;
$accent-color: rgb(230, 176, 0);
$secondary-accent-color:rgb(230, 0, 119);
$dark-grey: rgb(51, 51, 51);
$light-grey: rgb(185, 185, 185);
$extra-light-grey: #e3e3e3;
$white:white;
$code-color:rgb(255, 100, 100);
$editor-color:#232e32;
/* fonts */
$main-font:'Fira Sans', sans-serif;
$serif-font: 'Roboto Slab', serif;
$code-font: 'Share Tech Mono', monospace;
$regular-size:16px;
/* others */
$header-height:60px;
$footer-height:45px;
$column-padding: 0 15px;