
 input {
  border: solid 1px #455;
}

.cart-content{
  text-align: center;
}
.cart-content div{
  display:inline-block;
  margin: 40px;
}

.product-name{
  border-bottom: solid 1px grey;
  border-bottom-style: dashed;
  margin: 10px 50px 10px 50px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.quantity-input {
  margin: 0 5px;
  box-sizing: content-box;
}

.button-final{
  text-align:center;
}

#título{
  font-size: 30px;
  text-align: center;
  margin-top:25px;
  margin-bottom:5px;
}

.final-buttons div{
  display: inline-block;
}

div #add-product-button{
  margin: 10px 40px 10px 100px;
  border: solid 1px #444;
}