.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
  
}

.quantity {
  margin: 4.5px 5px;
  padding: 5px 20px;
}

.inputfinal {
  padding: 0 20px;

}
