.item {
	justify-content: space-between;
	display: inline-flex;
	flex-wrap: wrap;
    width: 100%;
    padding: 20px 20px;
}
.item-name {
	width: 20%;
}
.item-price {
	width: 10%;
}

.item-qty {
	width: 10%;
	display: inline-table;
}
.item-qty input{
    width: 100px;
}

.item-count {
	width: 10%;
}

.item-row{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 30px 20px;
}
.item-row input{
    align-content: center;
}
.item .price-value {
  
}
.item-row .total{

}

  